@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-slate-950 text-white antialiased;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.leaflet-container {
  background: #020617 !important;
}

.custom-div-icon {
  background: transparent;
  border: none;
}

.markdown-body {
  @apply text-slate-300;
}

.markdown-body p {
  @apply mb-4 last:mb-0;
}

.markdown-body strong {
  @apply text-white font-bold;
}

.markdown-body ul {
  @apply list-disc list-inside mb-4;
}

.markdown-body li {
  @apply mb-1;
}

